@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<script>
    int entero= 1;
</script>
<p>Use this page to detail your site's privacy policy. </p>${entero}
